@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins';
    background-color: #f0f0f0;
}

.game-board{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#87ceeb, #e0f6ff);
    max-width: 2000px;
}

.game-board h1{
    font-family: 'Nabla';
    text-shadow: 1px 1px black;
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 40px;
}

.modal-container{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}

.modal{
    background-color: #151515;
    width: 400px;
    height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: modal .7s;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 20px 30px #151515;
}

.hide{
    display: none;
}

.modal h1{
    font-family: 'Nabla';
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

.modal p{
    color: white;
}

.modal button{
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    border: none;
    background-image: linear-gradient(90deg, #FF7A27, #FFE865);
    color: white;
    cursor: pointer;
}

.modal button:hover{
    background-image: linear-gradient(90deg, #FFE865, #FF7A27);
    box-shadow: 0px 0px 8px #FF7A27;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.jump{
    animation: jump 500ms ease-out;
}

.btns-containers{
    display: flex;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    padding-top: 2px;
    gap: 0px 60px;
    align-items: center;
}

.btns-containers button{
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    border: none;
}

.btns-containers button:first-child{
    color: red;
}

.btns-containers button:nth-child(2){
    color: #0072b1;
}


.sobre-mim-container{
    background-color: #151515;
    height: 380px;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0px 20px 30px #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

.sobre-mim-container h2 a{
    text-decoration: none;
    color: #FFE80A;
}

.sobre-mim-container h2 a:hover{
    text-decoration: underline;
}

.title-sobre{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0px 15px;
}

.img-sobre{
    width: 75px;
}

.social-container a{
    text-decoration: none;
    color: white;
}

.social-container i{
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.social-container .fa-facebook-f{
    padding: 10px 13px 10px 13px;
}

.fa-facebook-f:hover{
    background-color: #3b5998;
}

.fa-twitter:hover{
    background-color: #00acee;
}

.fa-google:hover{
    background-color: #db4a39;
}

.fa-instagram:hover{
    background-color: #E1306C;
}

.fa-linkedin-in:hover{
    background-color: #0072b1;
}

.fa-github:hover{
    background-color: #333;
}

.aviso{
    font-size: 12px;
    text-align: center;
}

@media (max-width: 500px) {
    .sobre-mim-container{
        font-size: 1em;
    }
    body{
        overflow: auto;
    }
}

@keyframes modal{
    from{
        top: 0%;
    }

    to{
        top: 50%;
    }

}

@keyframes pipe-animation{
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes clouds-animation{
    from{
        right: -550px;
    }

    to {
        right: 100%;
    }
}


@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}