*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
}

body{
    height: 100vh;
    background-color: #333;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.calculator-container{
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 390px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.result-cotainer{
    border-radius: 10px 10px 0px 0px;
    padding: 40px;
    width: 90%;
    font-size: 70px;
    text-align: right;
    word-wrap: break-word;
}

.btns-containers{
    width: 100%;
}

.linhas{
    font-size: 35px;
    display: flex;
}

.linhas:first-child{
    font-size: 29px;
}

.linhas .btn:last-child{
    background-color: #ff9f0a;

}

.linha1 .btn{
    background-color: #8a8888;
}

.linha1 .btn:last-child{
    flex: 1.01;
}


.btn{
    user-select: none;
    cursor: pointer;
    margin: 0.5px;
    padding: 25px;
    background-color: #333;
    flex: 1;
    text-align: center;
}

.btn:hover{
    box-shadow: inset 0px 0px 4px black;
}

.zero{
    flex: 3.15;
    /* border-radius: 50px; */
}


@media (max-width: 480px){

    .result-cotainer{
        padding: 40px 0px;
    }
}

@media (max-width: 380px){

    .btn{
        font-size: 20px;
    }

    .zero{
        flex: 3.4;
    }
}

@media (max-width: 350px){

    .btn{
        font-size: 20px;
    }

    .zero{
        flex: 4;
    }
}