@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);
}

a{
    text-decoration: none;
    color: black;
}

a:visited, a:active{
    color: black !important;
}

img{
    display: block;
    width: 100%;
}


/* HEADER */

header{
    text-align: center;
}

#header-container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


/* MAIN */

.grid-container{
    max-width: 1200px;
    min-height: 84vh;
    margin: auto;
    padding: 20px;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.grid-itens{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    transition: .3s ease-in-out;
    /* border-radius: 5px; */
}

.grid-itens:hover{
    position: relative;
    top: -2px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.description-container{
    min-height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
}



/* FOOTER */

footer{
    padding: 20px;
}

footer p{
    text-align: center;
}


/* MEDIA */

@media screen and (max-width: 500px){
    header h1{
        font-size: 23px;
    }
}