@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-azul: #102F5e;
    --cor-cinza: #333;
    --cor-branca: #FDFDFD;
}

body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-azul);
}

main{
    background-color: var(--cor-branca);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    border-radius: 20px;
    padding: 20px;
}

button:hover{
    background-color: var(--cor-azul);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px var(--cor-azul);
}

button:active{
    background-color: #FDFDFD;
    color: var(--cor-azul);
    box-shadow: none;
}


 /* SECTION TITLE  */

.title-container{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    font-size: 22px;
}


 /* SECTION ADD TASK  */

.add-task-container{
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.add-task-container h3{
    margin-bottom: 8px;
}

.add-task-container input{
    padding: 5px;
    border: 2px solid var(--cor-azul);
}

.add-task-container button{
    user-select: none;
    padding: 5px;
    width: 40px;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
}

.add-task-container button:hover{
    color: white;
}

.add-task-container button:active{
    color: var(--cor-azul);
}


 /* SECTION EDIT TASK  */

.edit-task-container{
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.edit-task-container h3{
    margin-bottom: 9px;
}

.edit-task-input-container{
    display: flex;
}

.edit-task-container input{
    padding: 5px;
    margin-right: 4px;
    border: 2px solid var(--cor-azul);
}

.edit-task-container button{
    border: 2px solid var(--cor-azul);
    width: 40px;
    user-select: none;
}

.btn-cancelar{
    margin-top: 21px;
    padding: 5px;
    padding-right: 60px;
}

.edit-task-container .material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


 /* SECTION FIND/FILTER TASK  */

.find-and-filter-container{
    padding: 20px;
    display: flex;
    border-bottom: 1px solid lightgray;
    
}

.find-container{
    flex: 1.5;
}

.find-container h3{
    margin-bottom: 9px;
}

.input-find-container{
    display: flex;
    user-select: none;
}

.find-container input{
    padding: 5px;
    border: 2px solid var(--cor-azul);
}


.find-container button{
    padding: 5px;
    border: 2px solid var(--cor-azul);
    width: 40px;
    margin-left: 4px;
}

.find-container button:nth-child(3){
    margin-right: 20px;
}

.find-container .backspace{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--cor-azul);
}

.find-container button:hover .backspace{
    color: white;
}

.find-container button:active .backspace{
    color: var(--cor-azul);
}

.filter-container{
    border-left: 1px solid lightgray;
    flex: 1;
    padding-left: 20px;
}

.filter-container select{
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    width: 100%;
    border: 2px solid var(--cor-azul);
    border-radius: 5px;
}


 /* TASKS  */

.task{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.icons-area{
    user-select: none;
}

.icons-area button{
    cursor: pointer;
    padding: 5px;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    margin-left: 5px;
}

.icons-area .material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--cor-azul);
}

.icons-area button:hover .material-icons{
    color: white;
}

.icons-area button:active .material-icons{
    color: var(--cor-azul);
}

.finalized{
    background-color: #253e63;
    color: white;
}

.finalized p{
    text-decoration: line-through;
    font-style: italic;
}

.hide{
    display: none;
}

.hide2{
    display: none;
}

.btn-clean-all-container{
    margin-top: 21px;
    text-align: center;
}

#btn-clean-all{
    padding: 5px;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
}

#btn-clean-all:hover{
    color: white;
}


@media (max-width: 480px) {

    main{
        position: static;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
    }

    button:hover{
        background-color: #F0F0F0;
        color: var(--cor-azul);
        box-shadow: none;
    }

    .add-task-container button:hover{
        background-color: #F0F0F0;
        color: var(--cor-azul);
    }

    .find-and-filter-container{
        flex-direction: column;
        padding: 0px;
        margin-top: 1px;
    }

    
    .find-container{
        border-bottom: 1px solid lightgray;
        padding: 20px;
    }

    .find-container button:hover .backspace{
        color: var(--cor-azul);
    }

    .filter-container{
        padding: 20px;
        border: none;
    }

    .filter-container select{
        width: 40%;
    }

    .icons-area button:hover .material-icons{
        color: var(--cor-azul);
    }
}